@import 'uview-plus/theme.scss';

$uni-color-primary: #1677ff;
$uni-color-success: #52c41a;
$uni-color-warning: #faad14;
$uni-color-error: #ff4d4f;
$uni-text-color: #1f1f1f;
$uni-text-color-secondary: #8c8c8c;
$uni-bg-color: #f5f6f8;
$uni-border-color: #f0f0f0;

$page-padding: 24rpx;
$card-radius: 16rpx;
